/*------------ Variables -----------*/

$brandprimary: #c14103;
$brandsecondary: #03c1c1;

/*------------  Global   -----------*/

body {
  border: 10px solid #ccc;
  min-height: 100vh;
  padding: 40px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a,
a:active,
a:visited {
  color: $brandprimary;
  text-decoration: none;
  transition: 0.3s all ease;
}

button.multi-item {
  border: 1px solid #ccc;
  background: white;
  padding: 10px 14px;
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  transition: 0.3s all ease;
  &:hover {
    background: black;
    border: 1px solid black;
    color: white;
  }
}
